.root {
  display: grid;
  gap: 4px;

  &:focus-within {
    label {
      opacity: 1;
    }
  }

  label {
    opacity: 0;
    transition: 0.3s;
  }
}

.label {
  margin-left: 4px;
}

.errorText {
  margin-left: 4px;
  color: red;
  font-size: 12px;
}