.root {
  min-width: 176px;
  height: 24px;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: none;
  padding: 8px;
  background: #ededed;
  box-shadow: inset 5px 5px 12px #e1e1e1,
  inset -5px -5px 12px #f9f9f9;
  transition: box-shadow 0.3s;

  &:focus {
    background: #ededed;
    box-shadow: inset 5px 5px 12px #c5c5c5,
    inset -5px -5px 12px #ffffff;
    transition: box-shadow 0.3s;
  }

  &[type=password]:not(:placeholder-shown) {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.125em;
  }
}