.root {
  width: 368px;
  height: 424px;
  border-radius: 50px;
  background: #ededed;
  box-shadow:  13px 13px 28px #cccccc,
  -13px -13px 28px #ffffff;
  padding: 32px 32px 48px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContainer {
  width: 100%;
  display: grid;
  gap: 40px;
}

.inputContainer {
  width: 100%;
  display: grid;
  gap: 12px;
}

.header {
  margin: 0 auto;
}

.button {
  margin: 0 auto;
  width: 50%;
}